# =============== #
# Unity generated #
# =============== #
_Builds/
Temp/
Obj/
obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #

.idea/.idea.DemoGame3D/.idea
.idea
Assets/UI - BUILDER/Prefabs.meta
Assets/UI - BUILDER/
Assets/UI - BUILDER.meta
